<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/SignUp.png" alt=""/>
                </div>
                <h1 class="text-center">Register Here!</h1>
                <!--{{ user | json }}-->

                <form (ngSubmit)="formSubmit()">
                    <!--User Name Field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.username"
                        name="username"
                         matInput placeholder="Please Enter Your Name">
                        <mat-icon matSuffix>face</mat-icon>
                    </mat-form-field>

                    <!--password Field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        required
                        [(ngModel)]="user.password"
                        name="password"
                        type="password" matInput placeholder="Please Enter Your password">
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>

                    <!--First Name Field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.firstName"
                        name="firstName"
                        matInput placeholder="Please Enter Your First Name">
                        <mat-icon matSuffix>badge</mat-icon>
                    </mat-form-field>

                     <!--Last Name Field-->
                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        matInput placeholder="Please Enter Your Last Name">
                        <mat-icon matSuffix>badge</mat-icon>
                    </mat-form-field>

                    <!--Email Field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.email"
                        name="email"
                        type="email" pattern=".+@gmail.com" matInput placeholder="Please Enter Your Email">
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>

                    <!--Phone Number Field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input
                        required
                        [(ngModel)]="user.phone"
                        name="phone"
                        type="number" matInput placeholder="Please Enter Your Email">
                        <mat-icon matSuffix>phone_iphone</mat-icon>
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button  color="primary">Register</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                    </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>