<mat-card>
    <div fxLayout="row wrap tex">
      <section fxFlex fxFlex.lt-md="100" fxLayoutAlign="center center"><img src="../../../../assets/logo.png" /></section>
      <section fxFlex fxFlex.lt-md="100">
        <h3>Project Details</h3>
        <p>
          I want to work more with Angular and figured this application would be a perfect way to get started. My goal
          is to document this journey on <a href="https://github.com/bilalhamwia" target="_blank">GitHub</a>, share my experiences, and get input and direction from my fellow peers. My current plan is to tackle a 
          small part of the my mistack for coding. I hope you will join me on this journey!
        </p>
      </section>
    </div>
    <i class="bi bi-facebook"></i>
  </mat-card>